<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="index.web" />
            </files>
        </defaultDocument>    
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="pages"/>
                    <add segment="pages"/>
                    <remove segment="session"/>
                    <add segment="session"/>
                    <remove segment=".htaccess"/>
                    <add segment=".htaccess"/>
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
